aiohttp==3.8.6
aiosignal==1.3.1
annotated-types==0.6.0
anyio==3.7.1
async-timeout==4.0.3
attrs==23.1.0
autopep8==2.0.4
beautifulsoup4==4.12.2
blis==0.7.11
bs4==0.0.1
cached-property==1.5.2
catalogue==2.0.10
certifi==2023.7.22
charset-normalizer==3.3.0
click==8.1.7
cloudpathlib==0.15.1
confection==0.1.3
cymem==2.0.8
Cython==3.0.3
dataclasses-json==0.6.1
dill==0.3.7
diskcache==5.6.3
dnspython==2.4.2
docopt==0.6.2
docutils==0.20.1
elastic-transport==8.4.1
elasticsearch==8.10.0
email-validator==2.0.0.post2
faiss-cpu==1.7.4
fastapi==0.103.2
filelock==3.12.4
FLAML==2.1.1
frozenlist==1.4.0
fsspec==2023.9.2
h11==0.14.0
httpcore==0.18.0
httptools==0.6.0
httpx==0.25.0
huggingface-hub==0.17.3
idna==3.4
importlib-metadata==6.8.0
inflection==0.5.1
itsdangerous==2.1.2
jaraco.classes==3.3.0
Jinja2==3.1.2
joblib==1.3.2
jsonpatch==1.33
jsonpointer==2.4
keyring==24.2.0
langchain==0.0.311
langcodes==3.3.0
langsmith==0.0.43
manifest-ml==0.0.1
markdown-it-py==3.0.0
MarkupSafe==2.1.3
marshmallow==3.20.1
mdurl==0.1.2
more-itertools==10.1.0
multidict==6.0.4
murmurhash==1.0.10
mypy-extensions==1.0.0
mysql-connector-python==8.1.0
nh3==0.2.14
nltk==3.8.1
numpy==1.26.0
openai==0.28.1
orjson==3.9.7
packaging==23.2
pathy==0.10.2
pkginfo==1.9.6
preshed==3.0.9
protobuf==4.21.12
pyautogen==0.1.9
pycodestyle==2.11.0
pydantic==2.4.2
pydantic-extra-types==2.1.0
pydantic-settings==2.0.3
pydantic_core==2.10.1
Pygments==2.16.1
python-dotenv==1.0.0
python-multipart==0.0.6
PyYAML==6.0.1
readme-renderer==42.0
redis==5.0.1
regex==2023.10.3
requests==2.31.0
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.6.0
safetensors==0.4.0
smart-open==6.4.0
sniffio==1.3.0
soupsieve==2.5
spacy==3.7.1
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==1.4.49
sqlalchemy-orm==1.2.10
sqlitedict==2.1.0
srsly==2.4.8
starlette==0.27.0
tenacity==8.2.3
termcolor==2.0.0
thinc==8.2.1
tiktoken==0.5.1
tokenizers==0.14.1
tqdm==4.66.1
transformers==4.34.0
twine==4.0.2
typer==0.9.0
typing-inspect==0.9.0
typing_extensions==4.8.0
ujson==5.8.0
urllib3==1.26.17
uvicorn==0.23.2
uvloop==0.17.0
wasabi==1.1.2
watchfiles==0.20.0
weasel==0.3.2
websockets==11.0.3
wikipedia==1.4.0
yarl==1.9.2
zipp==3.17.0
