<header class="text-gray-400 bg-gray-900 body-font">
    <div
        class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center"
    >
        <div class="flex flex-col text-center w-full">
            <a
                href="/"
                class="flex title-font font-medium justify-center text-white mb-4 md:mb-0"
            >
                <svg
                    width="40"
                    height="40"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="w-10 h-10 text-white p-2"
                >
                    <path
                        d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"
                    ></path>
                </svg>
                <h1
                    class="sm:text-3xl text-2xl font-medium title-font mb-4 text-white"
                >
                    GitHub Profile Viewer
                </h1>
            </a>

            <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
                Use the GitHub API to get username information
            </p>
        </div>
    </div>
</header>
